{% extends 'izkartojums.html' %}
{% block title %}Visvaris.lv{% endblock title %}
{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
    <div style="opacity: 75%;
  margin-top: 5px;" class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
      <strong>{{ message }}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<div class="container d-flex justify-content-center">
<div style="margin-top: 35px;" id="manakarusele" class="carousel slide mx-auto" data-bs-ride="carousel">
    <div style="box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;" class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://cataas.com/cat/says/visvaris.lv?fontSize=50&fontColor=purple" class="d-block w-100" alt="kakis1">
      </div>
      <div class="carousel-item">
        <img src="https://cataas.com/cat/says/visvaris.lv?fontSize=50&fontColor=red" class="d-block w-100" alt="kakis2">
      </div>
      <div class="carousel-item">
        <img src="https://cataas.com/cat/says/visvaris.lv?fontSize=50&fontColor=blue" class="d-block w-100" alt="kakis3">
      </div>
    </div>
  </div>
</div>
<style>
  #title1{
    margin: 20px;
  }
  #akordionakaste{
    margin-bottom: 2vw;
  }

</style>
<h1 id="title1">FORUMS KAĶĪŠIEM</h1>
{% for row in dati %}
<div style="    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;" id="post" class="alert alert-secondary" role="alert">

  <h3>{{ row[0] }} </h3> <a style="font-style:italic;"> {{ row[5] }} </a>
  <div class="container text-center">
    <div class="row">
      <div class="col">
      <a href="{{ url_for('publikacijaa', post_id=row[4]) }}">
        <figure class="figure">
          <img href="{{ url_for('publikacijaa', post_id=row[4]) }}"  src="{{ row[2] }}" class="figure-img img-fluid rounded-bottom" alt="post1image">
          <figcaption class="figure-caption text-end">  
            <div class="container text-center">
              <div class="row">
                <div id="paceltpostu" style="font-size: xx-large;display: inline-flex;" class="col">
                  <button href="#" class="bi bi-star"></button><a>11</a>
                </div>
                <div id="komentarsposts" style="font-size: xx-large;display: inline-flex;" class="col"><button href="#" class="bi bi-chat-left-text"></button><a>16</a>
                  </div>
              </div>
          </figcaption>
        </figure>
      </a>
      </div>
      <div class="col">
        <div id="posta_teksts" class="container-md">{{ row[1] }}</div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock content %}